False positive error report when the CDS RR is exist in the child zone, but the DS RR is not exist in the parent zone

please see https://dnsviz.net/d/synclayer.co.jp/Z2JfxQ/dnssec/

This analysys of DNSViz reports error, "The CDS RRset must be signed with a key that is represented in both the current DNSKEY and the current DS RRset. See RFC 7344, Sec. 4.1."

But RFC 7344, Sec. 4.1 says...

>    o  Signer: MUST be signed with a key that is represented in both the
      current DNSKEY and DS RRsets, unless the Parent uses the CDS or
      CDNSKEY RRset for initial enrollment; in that case, the Parent
      validates the CDS/CDNSKEY through some other means (see
      Section 6.1 and the Security Considerations).

When "initial ennrollment", the existence of the CDS/CDNSKEY RR in child zone and the assence of the DS RR in the parent zone is 
normal case.

So, I think an error should not be reported when this case.