Website shows RRSIGs with `RRSIG_LABELS_EXCEED_RRSET_OWNER_LABELS` as Status: VALID

When the labels field of an RRSIG exceeds the number of labels in the owner's name, dnsviz emits the `RRSIG_LABELS_EXCEED_RRSET_OWNER_LABELS` error, but on the website, the RRSIG's corresponding object in `node_info` in `auth_graph.js` has status: valid.

---

Example: (incorrect labels field; error on command line, 'VALID' on website)
```
$ dnsviz probe -R txt stml.kazion.igk.nz | dnsviz grok | grep -C 3 RRSIG_LABELS
Analyzing stml.kazion.igk.nz
Analyzing kazion.igk.nz
Analyzing igk.nz
Analyzing nz
Analyzing .
                                "errors": [
                                    {
                                        "description": "The value of the labels field of the RRSIG RR (40) exceeds the number of labels in the RRset owner name (4).  See RFC 4035, Sec. 5.3.1.",
                                        "code": "RRSIG_LABELS_EXCEED_RRSET_OWNER_LABELS"
                                    }
                                ]
                            }
$
```
https://dnsviz.net/d/stml.kazion.igk.nz/ZKlOqA/dnssec/

---

Negative example: (correct labels field; no error on command line, 'VALID' on website)
```
$ dnsviz probe -R txt kazion.igk.nz | dnsviz grok | grep -C 3 RRSIG_LABELS
Analyzing kazion.igk.nz
Analyzing igk.nz
Analyzing nz
Analyzing .
$
```
https://dnsviz.net/d/kazion.igk.nz/ZKlOTw/dnssec/

---

Validating recursive resolvers all servfail on stml.kazion.igk.nz. but not kazion.igk.nz

It looks like the feature was added in #90 re #86.

Sorry for the delay 😬 

So it looks like the version of DNSViz deployed at dnsviz.net is a little (a lot?) behind.  I didn't realize that.  I need to make a few additions, and then I'll update dnsviz.net.  Thanks!

This should work now!
https://dnsviz.net/d/stml.kazion.igk.nz/ZKlOqA/dnssec/