Detect lying NSEC or NSEC3 negative proofs

Some domains have lying NSEC or NSEC3 negative proofs.

I don't seem to be able to trigger such an error in dnsviz.

Example domain: vistacar.li

The zone vistacar.li has a NSEC proof at the zone apex which indicates that there are no hostnames other then the domain itself. This is a lie as www.vistacar.li exists. The problem is commonly caused by users using PowerDNS and where they change the content of the zone using direct database access with SQL instead of the PowerDNS backend API. See also https://github.com/PowerDNS/pdns/wiki/WebFrontends for a list of WebFrontends known to cause this error.

The advanced options already provide a feature to query "extra types". If I select "CAA" for the test name "www.vistacar.li", the response contains an NSEC proof in the authority section. The proof indicates that no other records than vistacar.li exists. However, an answer section with an answer for www.vistacar.li is provided as well. It would be very useful, if dnsviz could detect this kind of error.

In case you need some more test domains

```
tsloutdoor.ch
ucamping.ch
uhcthayngen.ch
urbidermis.ch
utiproplus.ch
valaisphysio.ch
vaudphysio.ch
vegan4vegans.ch
vehicom.ch
venus-medical.ch
victor-laplane.ch
viabusgroup.ch
videlio-iec.ch
videlio-events.ch
videlio-hms.ch
videoalarmch.ch
videlio-capcine.ch
videlio.ch
videlio-media.ch
vinkery.ch
vistacar.ch
vitalliance.ch
votrebox.ch
vortal.ch
votre-box.ch
weareselectgroup.ch
webo-swiss.ch
wellpumps.ch
willerby.ch
winminute.ch
workplaza.ch
work-life-competence.ch
xerys.ch
xolub.ch
xnov.ch
yisual.ch
zeitfueralkoholfrei.ch
zuckerrohrkarton.ch
zuckerrohrpapier.ch
zumex.ch
```

It took me a minute to get what was being said, but I think what you're saying is that when I query for (e.g.) foo.com/AAAA, and it produces a NODATA response, I get a reasonable-looking NSEC record indicating that other names exist in the zone.  But when I query for something like CAA, the NSEC in the response indicates that no other names exist in the zone.

So I think what you're suggesting is that I expand the list of records queried for, by default.  But also that I query for more than one name.  The former is easy, but the latter is a bit harder because right now it's built to analyze things name-by-name, with some exceptions (See #51 and #68 ).

From my measurements the lying NSEC record is to 99.9% always from PowerDNS and the proof is always that no other names exist in the zone then the domain itself.

I would propose to only expand the list of records queried for. CAA might not be a good candidate though. Maybe NULL or some reserved type?

If we assume that vistacar.li is broken, then vistacar.li/NULL would show the lying NSEC record but dnsviz cannot tell because it didn't query for other names such as www.vistacar.li. I'm fine with that. If the user wants to trigger the error in dnsviz she has to analyse an existing name in the zone itself. For example, the user tests www.vistacar.li. This would trigger www.vistacar.li/NULL among other queries such as www.vistacar.li/A which provides an answer. The NSEC proof of www.vistacar.li/NULL would contradict with the answer for www.vistacar.li/A and dnsviz would show an error.

Does this look reasonable?

I'm hijacking this thread because I think I've come into a similar case.
We have a custom PowerDNS backend and the NSEC responses for existing records were invalid. It would have been nice to have some insight in dnsviz to more easily determine what the problem was.

I agree that TYPE0 would be the correct choice for the test itself

I've let this sit long enough that I need a little refresher.  I think what you (collectively) are saying is that by adding a query for something (e.g., TYPE0), the current DNSViz analysis could do the rest.  Could you test this on the command line using the `-R` option?

I have to admit that I never used the command line tool so bear with me that I may not seem to understand how to use it properly.

I used the following commands:
```
dnsviz probe -A -o morning.li.txt -R A,NULL www.morning.li.
dnsviz grok -r morning.li.txt
```

However, I got the following error on the `dnsviz grok` command:
```
Traceback (most recent call last):
  File "/usr/bin/dnsviz", line 141, in <module>
    main()
  File "/usr/bin/dnsviz", line 138, in main
    mod.main(args)
  File "/usr/lib/python3.6/site-packages/dnsviz/commands/grok.py", line 472, in main
    name_obj.populate_status(arghelper.trusted_keys, supported_algs=arghelper.args.algorithms, supported_digest_algs=arghelper.args.digest_algorithms, ignore_rfc8624=arghelper.args.ignore_rfc8624, ignore_rfc9276=arghelper.args.ignore_rfc9276)
  File "/usr/lib/python3.6/site-packages/dnsviz/analysis/offline.py", line 870, in populate_status
    self._populate_status(trusted_keys, supported_algs, supported_digest_algs, is_dlv, None, follow_mx, ignore_rfc8624, ignore_rfc9276)
  File "/usr/lib/python3.6/site-packages/dnsviz/analysis/offline.py", line 842, in _populate_status
    self._populate_rrsig_status_all(supported_algs, ignore_rfc8624)
  File "/usr/lib/python3.6/site-packages/dnsviz/analysis/offline.py", line 1720, in _populate_rrsig_status_all
    self._populate_rrsig_status(query, rrset_info, qname_obj, supported_algs, ignore_rfc8624)
  File "/usr/lib/python3.6/site-packages/dnsviz/analysis/offline.py", line 1621, in _populate_rrsig_status
    self._populate_wildcard_status(query, rrset_info, qname_obj, supported_algs)
  File "/usr/lib/python3.6/site-packages/dnsviz/analysis/offline.py", line 1424, in _populate_wildcard_status
    self._populate_rrsig_status(query, nsec_rrset_info, qname_obj, supported_algs)
TypeError: _populate_rrsig_status() missing 1 required positional argument: 'ignore_rfc8624'
```

I fixed this error by adding `False` to the function call on this line:
https://github.com/dnsviz/dnsviz/blob/master/dnsviz/analysis/offline.py#L1424

After that the `dnsviz grok` command correctly identified the problem for this domain name.
I also checked the dnsviz.net UI and run it with the default settings for `www.morning.li` and it found the error as well without the need to specify the query type NULL:

https://dnsviz.net/d/www.morning.li/ZkuAGQ/dnssec/

Not sure if you have fixed something in the meantime or if dnsviz has always been able to detect this issue when querying the www-hostname.

Sorry, I'm actually doing some work on the code this week, and one of my changes needed a bit of extra attention.  Please pull down the latest and try again.

It looks like the error was detected on `morning.li` because you test for wildcards and the wildcard exists but is denied by the NSEC record and you detected this in your code.

Some other test domains w/o a wildcard are
```
access-control.ch
redprofs.ch
vegan4vegans.ch
ichstudiereimjura.ch
```

I tested `redprofs.ch` with:
```
dnsviz probe -4 -A -o redprofs.ch.txt -R A,NULL www.redprofs.ch.
dnsviz grok -r redprofs.ch.txt 
```
and it detects the error and reports for `www.redprofs.ch./IN/NULL`
```json
 {
"description": "No NSEC RR matches the SNAME (www.redprofs.ch).  See RFC 4035, Sec. 3.1.3.1.",
"code": "NO_NSEC_MATCHING_SNAME"
},
```

When I test `access-control.ch` with:
```
dnsviz probe -A -o access-control.ch.txt -R A,NULL www.access-control.ch.
dnsviz grok -r access-control.ch.txt 
```
it does not detect the error because www is a CNAME and no negative answer is provided for the NULL query.
However, it could still detect the error because for `access-control.ch./IN/NULL` in the json output, the NSEC record denies any subdomains. The data seems there to detect this error.


Okay, so here's the question.  Do I initiate a NULL query every time?  Or only when it the requested name (to be analyzed) is not a zone origin?  Or something else?  I'm asking because most users will wonder what in the world is going on -- what a NULL query even is and why it is being issued -- and I want to avoid as much confusion as possible.  I now have some capability to "hide" queries that are not problematic and might otherwise be confusing for the user (see 2a2d7e7 and [dnsviz/dnsvizwww@cf8820](https://github.com/dnsviz/dnsvizwww/commit/cf8820c9448278a36693a012ab5b5f47a0096981), so that helps me address this, potentially.  Thoughts?


See ca231cc6fc084c7681d1f053130e7e20d5bdcceb and 4f5e858991a1a39c06d8c90531767979dde7604a.  It still needs to be integrated into dnsvizwww.

Closing with commit ca231cc.

Trying a few things.  I'll report back.

Okay, I've gone a different direction with things.  I think the key is that if I can get a NODATA response with NSEC records when querying the zone name (e.g., example.com), and we can compare the positive response for the subdomain (e.g., www.example.com) with the NODATA (with NSEC) response from the zone origin.  Then we don't need to do an additional query.  For example:

```
dnsviz probe -A www.work-life-competence.ch | dnsviz print
dnsviz probe -A www.access-control.ch | dnsviz print
dnsviz probe -A www.morning.li | dnsviz print
```

Also:
```
dnsviz probe -A www.work-life-competence.ch | dnsviz grok -lwarning
dnsviz probe -A www.access-control.ch | dnsviz grok -lwarning
dnsviz probe -A www.morning.li | dnsviz grok -lwarning
dnsviz probe -A www.work-life-competence.ch | dnsviz graph -Thtml > test.html
dnsviz probe -A www.access-control.ch | dnsviz graph -Thtml > test.html
dnsviz probe -A www.morning.li | dnsviz graph -Thtml > test.html
```

Zones without problems should work also, without showing the CNAME query result:

```
dnsviz probe -A www.example.com | dnsviz print
dnsviz probe -A www.example.com | dnsviz grok -lwarning
dnsviz probe -A www.example.com | dnsviz graph -Thtml > test.html
```

These new changes are from feec132469aa6441fc4c2ae3d2ffe7892d9a3e42 to 9ef10e82fa3faf7e5e6034276fc68ead0abaf445

Brilliant, this is a very elegant approach and your solution looks good to me.
I tried to find some corner cases but it handles these correctly as well:
- `corporatetv.ch` with CNAME at zone apex and a contradicting negative answer
- `babygoodies.ch` just with CNAME at zone apex but no contradicting negative answer

Great!  So I guess we're good on this one? 😅 

> Brilliant, this is a very elegant approach and your solution looks good to me. I tried to find some corner cases but it handles these correctly as well:
> 
>     * `corporatetv.ch` with CNAME at zone apex and a contradicting negative answer
> 
>     * `babygoodies.ch` just with CNAME at zone apex but no contradicting negative answer

Wow, those bring out some weird errors with DNSViz! 😅 

yes, thank you again.On 30 May 2024 16:34, Casey Deccio ***@***.***> wrote:
Great!  So I guess we're good on this one? 😅

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you authored the thread.Message ID: ***@***.***>