NSEC3 Error Message

Everytime I enable DNSSEC on my VPS for a specific domain, the subdomains become unreachable and nslookup outputs the warning:
  
`server can't find subdomain.mydomain.com: SERVFAIL`

Running an analysis on https://dnsviz.net/ shows me the following error:

`NSEC3 proving non-existence of subdomain.mydomain.com/DS: The NS bit was not set in the bitmap of the NSEC3 RR corresponding to the delegated name (subdomain.mydomain.com).`

Could somebody please explain what this warning exactly means. What should I change in my DNS settings to enable DNSSEC for my domain without breaking access to the subdomains? 

Sorry about the belated response.  This isn't a great place to post questions if you want prompt answers.  In short, see [RFC 5155, section 8.9](https://www.rfc-editor.org/rfc/rfc5155#section-8.9):

> If there is an NSEC3 RR present in the response that matches the
> delegation name, then the validator MUST ensure that the NS bit is
> set and that the DS bit is not set in the Type Bit Maps field of the
> NSEC3 RR