add ignore-rfc6891

Dear

Similar to the already existing --ignore-rfc8624 and --ignore-rfc9276 is it possible to also add   --ignore-rfc6891 flag to suppress errors like 'The server responded with no OPT record, rather than with RCODE FORMERR. See RFC 6891, Sec. 7'

Thanks



It's a good question.  To me, there is a big difference between RFC 8624 and RFC 9276, which are, respectively, 5 and 2 years old, and RFC 6891, whose guidance dates back 25 years!  The guidance in RFC 6891 comes from RFC 2671 (which is obsoleted by RFC 6891) back in 1999.  The `--ignore-rfc8624` and `--ignore-rfc9276` options were intended to ease the transition to their respective RFCs which are relatively new; I don't plan to keep them around forever (and maybe they weren't a good idea in the first place 🤷‍♂️).  I need to set some reasonable boundaries, and that's my two cents on what the boundaries should be.  I'm going to mark this as "won't fix", but if you or anyone else has further thoughts, I'm happy to hear them.